@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;

  @supports (font-variation-settings: normal) {
    font-family: 'Fira Code VF', monospace;
  }
}
